**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/data
**/logs
**/output
**/*.log
**/*.md
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.db.json
**/appsettings.rpc.json
LICENSE.md
